body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
p {
  font-size: 14px;
  color: #2e3137;
}
h2 {
  font-size: 24px;
  font-weight: 500;
}
h3 {
  font-size: 20px;
  color: #6e6e6e;
  font-weight: 400;
}
.hor-line {
  position: relative;
}
.hor-line hr {
  text-align: center;
  margin: 10px auto;
  transition: all 0.4s;
}
.hor-line hr.colored {
  width: 30%;
  left: 35%;
  position: absolute;
  top: -10px;
  border-color: #7dc561;
}
.header {
  margin: 40px 0 20px;
}
.header .logo img {
  height: auto;
}
.header .logo h1 {
  font-size: 30px;
  margin-top: 10px;
  color: #6e6e6e;
  font-weight: 500;
}
.header h3 span {
  color: #7dc561;
  font-size: 48px;
  line-height: 30px;
}
.content-header .title {
  margin-top: 10px;
}
.content-header .title span {
  color: #6e6e6e;
}
.content-header .title span:before {
  content: "( ";
  color: #7dc561;
}
.content-header .title span:after {
  content: " )";
  color: #7dc561;
}
.inner-container {
  margin-bottom: 30px;
}
.inner-container .mockup {
  padding-top: 15px;
  transition: all 0.5s;
}
.inner-container .mockup img {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  transition: all 0.6s;
  transition-delay: 0.3s;
}
.inner-container .mockup:hover img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.inner-container .mockup:hover .hor-line hr.colored {
  width: 100%;
  left: 0;
}
.inner-container .mockup h3 {
  margin-top: 10px;
  color: #1a1a1a;
}
.inner-container .mockup .subtitle {
  font-size: 18px;
  color: #a1a1a1;
  font-weight: 400;
}
.style-change {
  font-size: 20px;
  margin-bottom: 20px;
}
.style-change .glyphicon {
  color: #7dc561;
  margin: 0 5px;
}
.footer {
  padding: 15px 0 5px;
  background: #252b30;
}
.footer p.copy {
  color: #aeb7bf;
  font-size: 14px;
}
.footer a {
  color: #7dc561;
}
.footer a:hover {
  color: #fff;
}
